.ln-mobi-menu {
  .ham-btn span {
    display: flex;
    width: 29px;
    height: 2px;

    background: #1e1e23;
    border-radius: 3px;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    // transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  .ham-btn span:first-child {
    transform-origin: 0% 0%;
  }

  .ham-btn span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  .btn-active span {
    opacity: 1;
    transform: rotate(45deg) translate(3px, -8px);
    background: #36383f;
  }
  .btn-active span:nth-last-child(2) {
    display: none;
  }

  .btn-active span:nth-last-child(1) {
    transform: rotate(-45deg) translate(0px, 8px);
  }

  .menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: white;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(50%, -15rem);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  .menu li {
    padding: 10px 0;
    transition-delay: 2s;
    font-size: xx-large !important;
  }

  .menu li:last-child {
    margin-bottom: 1rem;
  }

  #menuToggle .menu-active {
    transform: translate(-80%, -1.5rem);
  }
}

.ant-drawer-header {
  border: none !important;
  outline: none;
  align-self: flex-end;
}

.menu a {
  font-size: 3rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  &:hover {
    color: slategray !important;
  }
}

.anticon-close {
  margin-top: 10px;
  font-size: 30px !important;
}
